*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@media print {
  .ant-layout-sider,
  .ant-layout-header,
  button {
    display: none !important;
  }
  .ant-layout-content {
    padding: 0 !important;
  }
}
